.nav-logo {
  float: left;  
  padding: 0px 30px;
  margin: 5px 0px;
}

.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    height: max-content;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.menu button {
    float: right;
    background-color: #FFFFFF;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 14px 17px;
    margin: 13px 10px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.menu button:hover{
    background-color: white; 
    border-radius: 30px;
    color: black;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.29);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #042a56;
    background: linear-gradient(to right, #042a56, #00426c, #005a7f, #137390);
    color: #FFFFFF;
}

.root {
    display: block;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 1.5em;
}

.center-box {
    display: flex;
    justify-content: center;
}

.messages {
    text-align: center;
    font-size: 15px;
    margin: auto 5%;
    width: 450px;
    height: auto;
    padding: 1em;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

h2 {
    font-size: 18px;
}

#message {
    margin: 1em;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
}

#output {
    margin-top: 1em;
    margin-bottom: 3.7em;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
}

#offset {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.buttons{
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0.5em 1.5em;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: white;
    transition: 0.2s;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.buttons:hover{
    background-color: #1790B5; /*#0D133E;*/
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

#cipherButton{
    background-color: #E0004F;
    color: #FFFFFF;
}

#cipherButton:hover{
    background-color: white;
    color: black;
}

#decipherButton{
    background-color: #1790B5;
    color: #FFFFFF;
}

#decipherButton:hover{
    background-color: white;
    color: black;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
 
.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 650px;
    background: white;
    color: black;
    margin: 7% auto;
    padding: 20px;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}

.use{
    display: flex;
    align-items: center;
}

.img{
    margin: auto 20px;
}

.txt-use{
    text-align: justify;
    margin: auto 10px;
}

footer {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 40px;
    bottom: 0px;
    position: absolute;
    display: block;
    text-align: center;
    width: 99%;
}

footer a {
    color: #FFFFFF;
}